.App {
  text-align: center;
  background: url(./dune2.jpg) no-repeat center center fixed;
  color: chartreuse;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-size: cover;
  
}

.mission_logo:hover {
  width: 20%;
}



.launch {
  display: block;
  width: 70%;
  margin: auto;
  border: solid chartreuse;
}


.launch:hover{
  width: 90%;
  border: crimson solid;
}

#launchlist{
  margin: auto;
  width: 10%;
}

li a {
  color: whitesmoke;
}

ul {
  list-style-type: none;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
